/* global */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.warning-font {
  color: rgb(255, 20, 20);
}

/* end global */

/* login */

.login-card {
  position: relative;
  top: 300px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(232, 232, 232, 0.75);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* end login */

/* home */

.home-header {
  margin: 0;
  background-color: rgb(255, 255, 255);
  height: 48px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}
.home-content {
  margin: 0 16px;
}

.home-breadcrumb {
  margin: 16px 0;
}

.home-card {
  position: relative;
  min-height: 100%;
}

.home-footer {
  text-align: center;
  font-size: small;
  height: 18px;
  margin: 18px 0;
}

.home-avatar {
  position: absolute;
  right: 24px;
  top: 7px;
}

/* end home */
